*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* header css */
header .logo img{
      width: 80px;
}
@media screen and (max-width:767px){
    header .logo img{
        width: 60px;
  }}
header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
header{
    padding-top:34px;
    padding-left: 74px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.navbar .menu{
    display: flex;

}
.navbar .menu.open{
    display: block;

}
@media  screen and (max-width:767px){
    .navbar .menu{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        background: black;
        padding: 20px 0px;
        display: none;
    
    }
}
.navbar a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    
    padding-right: 10px;
    margin:0 30px;
    color:aliceblue;
}
.navbar li:last-child a{
    padding: o;
}
.navbar li:hover a{
    color:#f70142;
    transition: color ease 1s;
}
.navbar li.active a{
    border-bottom: 2px solid #f70142;

}
.navbar .fa-bars{
    display: none;
}
@media (max-width:767px){
    .navbar .fa-bars{
        display: block;
        color: beige;
    }
}
@media (max-width:767px){
    header{
    padding: 20px;}}
/* hero */
.hero img{
    width: 100%;
}
.hero-info{
    position: absolute;
    top:50%;
    left: 74px;
    transform: translateY(-50%);
    color:whitesmoke;
    font-size: 24px;
    font-weight: 900;
    max-width: 405px;
    

}
@media screen and (max-width:767px){
    .hero-info h1,a{
        font-size: 15px;
        
    }
}
@media  screen and (max-width:767px){
    .hero-info {
        top:60%;
        background: #58424296;
        left:60px;}}
.hero{
    position: relative;
    height: 115vh;
}
@media screen and (max-width:767px){
    .hero{
        height:25vh;
        object-fit: cover;
    }
}
.hero-info h1 span{
    font-size: 18;
    font-weight: 400;
    margin-bottom: 32px;
}


.hero-info .cta-btn {
    background-color: #f70142;
    color: aliceblue;
    font-size: 21px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 24px;
    text-align: center;
    width: 50%;
    
    
}
@media screen and (max-width:767px){
    .hero-info .cta-btn{
        font-size: 6px;
        font-weight: 700;
        padding: 6px 2px;
        border-radius: 24px;
    }}


.hero-info .cta-btn:hover{
    background-color: black;
    transition: color ease 5s;
}
.hero .swiper-pagination{
    bottom: 100px;
    left: auto;
    width: 100%;
    right: 150px;
    text-align: right;
}
@media screen and (max-width:767px){
    .hero .swiper-pagination{
        bottom: 100px;
        left: auto;
        width: 100%;
        right: 55px;
        text-align: right;
        top:171px;
    }}
.hero .swiper-pagination .swiper-pagination-bullet{
    width: 23px;
    height: 23px;
    border: 2px solid white;
    background: transparent;
}
.hero .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    border: 2px soild #f70142;
    
}
.hero-info .cta-btn a{
    color: white;
}
.section{
    height: 100vh;
    background: url("https://t4.ftcdn.net/jpg/02/70/24/01/360_F_270240168_H1kH7wGAILQEsxKPlFB0aCoHkGRgJeqQ.webp");
    background-size: cover;
}
@media screen and (max-width:767px){
    .section{
        height: 200vh;
        background-repeat: repeat;
    }
}

.heading{
    color: azure;
    padding:20px;
    font-size: 23px;
    text-decoration: underline solid 5px #f70142 ;
}
@media screen and (max-width:767px){
    .heading{
        color: azure;
        padding:20px;
        font-size: 13px;
        text-decoration: underline solid 3px #f70142 ;
        text-align: center;
    }
}
.carcard{
    display: flex;
    margin: 20px;

}
@media screen and (max-width:767px){
    .carcard{
    display: block;}
    
}
.cardcontent img{
 width: 100%;
 height: 200px;
 border-radius: 7px;
}
@media screen and (max-width:767px){
    .cardcontent img{
        width: 100%;
        height: 200px;
        border-radius: 5px;
       }
}
.cardcontent{
    margin: 15px;
}
.cardcontent h3{
    color: white;
    margin: 10px;

}
@media screen and (max-width:767px){
    .cardcontent h3{
        
        text-align: center;
        
    
    }
}
.cardcontent h4{
    
    margin: 10px;

}
@media screen and (max-width:767px){
    .cardcontent h4{
        
        text-align: center;
        
    
    }
}
.cardcontent h2,span{
   
    text-align: center;
    
}
.cardcontent span{
    color:#f00342
}
@media screen and (max-width:767px){
    .cardcontent h2,span{
    text-align: center;
    
    
    }
}
.cardcontent button{
    background-color: rgb(113, 201, 172);
    padding: 5px 10px;
    color:black;
    font-size: 13px;
    font-weight: 700;
    
    
}

.kmbtn{
    border: none;
    margin: 10px;
    border-radius: 5px;

}
@media screen and (max-width:767px){
    .kmbtn{
        
        margin: 15px;
        
    
    }
}
.ownerbtn{
    border: none;
    margin: 10px;
    border-radius: 5px;

}
@media screen and (max-width:767px){
    .ownerbtn{
        
        margin: 15px;
        
    
    }
}
.fuelbtn{
    border: none;
    margin: 10px;
    border-radius: 5px;

}
@media screen and (max-width:767px){
    .fuelbtn{
        
        margin: 15px;
        
    
    }
}
.cardcontent .emi{
    color:#f00342;
    margin-left: 100px;


}
.cardcontent .price ,span {
    color: aliceblue ;
    margin-left: 100px;
}
.boxshadow{
    box-shadow:10px 10px 10px 10px gray;
}
